body {
font-size: 12px;
font-family: sans-serif;
}

a{ color: #e4004b;text-decoration: none !important}
a:hover{text-decoration:none;}

.modal-backdrop, .modal-backdrop.fade.in { opacity: 0.1 ; filter: alpha(opacity=10);
}

.navbar .brand {padding: 5px 20px 5px !important;}

ul{border-right: 1px solid #f3f3f3!important;}

.navbar-inner {
min-height: 40px;
padding-right: 20px;
padding-left: 20px;
background-color: #fafafa;
background-image: -moz-linear-gradient(top,#fff,#FFF) !important;
background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#FFF))!important;
background-image: -webkit-linear-gradient(top,#fff,#fFF)!important;
background-image: -o-linear-gradient(top,#fff,#FFF)!important;
background-image: linear-gradient(to bottom,#fff,#FFF)!important;
background-repeat: repeat-x;
border: 1px solid #d4d4d4;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#fff2f2f2',GradientType=0);
-webkit-box-shadow: 0 0px 0px rgba(0,0,0,0.065)!important;
-moz-box-shadow: 0 0px 0px rgba(0,0,0,0.065)!important;
box-shadow: 0 0px 0px rgba(0,0,0,0.065)!important;
}

.nav>li {
float: left;
border-left: 1px solid #f3f3f3!important;
}

.nav>li>a {
float: none;
padding: 18px 15px 19px !important;
font-size: 18px;
color: #777;
text-decoration: none;
text-shadow: 0 1px 0 #fff;
}
.nav li a:hover{background-color: #fcfcfc !important;}
.nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus {
color: #555;
text-decoration: none;
background-color: #fcfcfc !important;
-webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,0.125) !important;
-moz-box-shadow: inset 0 0px 0px rgba(0,0,0,0.125)!important;
box-shadow: inset 0 0px 0px rgba(0,0,0,0.125)!important;
}


.font15{font-size: 15px}

.title {
font-size: 17px;
line-height: 20px;
font-weight: bold;
font-family: HelveticaNeue-condensed, sans-serif;
text-rendering: optimizeLegibility;
display: block;
}

.sumario {
margin-top: 2px;	
font-size: 12px;
line-height: 16px;
color: #808080;
}

.metadata {
color: #808080;
font-size: 12px;
line-height: 17px;
overflow: hidden;
}


.ico{ color: #e4004b}
.ico :hover{ color: blue}
.metadata .icon-search{ padding-right: 5px;}
.metadata .icon-star{ padding-right: 5px; }
.metadata .icon-ok{ padding-right: 5px;}

.visual {
width: 200px;
height: 130px;
margin-bottom: 4px;
}

.visual {
border: 0px;
overflow: hidden;
border: 1px solid #DFDFDF;
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
background-position: 50% 30%;
-webkit-transition: opacity 750ms;
-moz-transition: opacity 750ms;
opacity: 0;
}

.Entry {
margin-bottom: 34px;
line-height: 17px;
border: 0px solid #DFDFDF;

/* 
clear: both;
width: 275px; */
}

.barra{
 margin: 10px 10px 10px ;
}