/* 
    Document   : style
    Created on : 15-abr-2013, 20:04:03
    Author     : carlosandresavila
    Description:
        Purpose of the stylesheet follows.
*/

root { display: block;}

body{background: #efeae8;/* background-image: url('https://static-mall.s3.amazonaws.com/img/grey.png') !important; */}

/* container personalizado*/

.container{margin: 0 auto;max-width: 980px;}

.navbar-orenge{background: #f36c3d;color: #fff; margin-bottom: 0px}
.navbar-brand{color:#fff;font-weight: 500;font-size: 3em;text-decoration: none;}
.navbar-header a{color:#fff !important;}
.tagline {line-height: 30px; font-size: 1.5em;float: left;color: rgba(255,255,255,.6);}


.page-header .lead{ font-weight: 300 !important; color: #a2b1b9; padding-left: 5%;}
.lead {font-weight: 400 !important; color: #a2b1b9}
.well {background-color: #414141 !important;}
.jumbotron{margin-bottom: 0px; background: none}

.st{font-weight: bold;}

.caja{
position: relative;
margin: 2px 0px;
padding: 0px 0px 14px;
background-color: #fff;
border: 1px solid #ddd;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}


.caja_categoria{
    width: 50%;
    position: relative;
    font-weight: 400;
    font-size: 16px;
    padding: 5px 0px  5px 0px;
    float: left;
}


.mentel {
    background-color: #0a74ee;
    color: #fff;
    font-size: 11px;
    font-weight: 100;
    margin: 0;
    padding: 5px;
    text-align: center;
    text-shadow: 0 1px #00458f;
}

.info-ad h3{font-weight: 400;}
.info-ad a{color: #3d4950;text-decoration: none;}
.info-ad a:hover {color: #f36c3d;}
.info-ad p{color: #a2b1b9;font-size: 16px;font-weight: 300;}


/* timeago */
.timeago{}

.pagination{background-color: #3d4950 !important; }