/* 
    Document   : style
    Created on : 15-abr-2013, 20:04:03
    Author     : carlosandresavila
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body{
    background-image: url('https://static-mall.s3.amazonaws.com/img/grey.png') !important;
}

/* container personalizado*/
.container-980 {
    margin: 0 auto;
    max-width: 980px;
}

.header{
    border-radius: 3px;
   /* background-color: #0076BE; */
}


.st{font-weight: bold;}

.caja{
    position: relative;
margin: 15px 0px;
padding: 0px 0px 14px;
background-color: #fff;
border: 1px solid #ddd;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}


.caja_categoria{
    width: 50%;
    position: relative;
    font-weight: 400;
    font-size: 16px;
    padding: 5px 0px  5px 0px;
    float: left;
}


.mentel {
    background-color: #0a74ee;
    color: #fff;
    font-size: 11px;
    font-weight: 100;
    margin: 0;
    padding: 5px;
    text-align: center;
    text-shadow: 0 1px #00458f;
}